DATABASE_URL=
NEXTAUTH_SECRET=your_super_secret_string_here
NEXTAUTH_URL=http://localhost:3000
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
ADMIN_EMAIL=admin@fundedcobra.com
ADMIN_INITIAL_PASSWORD=ChangeThisPassword123!
ADMIN_NAME="FundedCobra Admin"
